/*2025/8/17*/

html
{
    background-color: #efffff;
}

p
{
    color: blueviolet;
}

h1
{
    margin: 0;
    padding: 20px 0;
}

.box1
{
    width: 100px;
    height: 100px;
    background-color: #ffdfdf;
}

.box2
{
    background-color: #ffffdf;
}

.box3
{
    background-color: #dfffdf;
}

.box4
{
    background-color: #ffffbf; /*(25:44:13)*/
    padding: 10px; /*(25:46:46)*/
}

.box5
{
    background-color: #bfffbf; /*(25:44:13)*/
    padding: 10px; /*(25:46:46)*/
}

.box6
{
    background-color: #bfffff; /*(25:50:49)*/
    padding: 10px;
    border: solid 2px black; /*(25:56:00)*/
}